extends layout

block redirect
    script(src=JS_DIR + 'browserRedirect.js')

block css
    link(rel='stylesheet', href= CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.carousel.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.theme.default.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-select.min.css')
    link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'index.css')

block content
    .main-content
        include ../components/topbar/index-chuangye
        .body-mask
        .main-body
            .topbar-space
            .row-space-10
                .container.tp-container
                    .tp-content
                        .deco-box
                        .tp-content-inner
                            include ../components/company-list/approval-hall
                            form.row.no-bottom#form(name='form')
                                div#room_list
                                    .room-item.col-xs-6.col-sm-3
                                        .rcs-pic-item
                                            input.rcs-radio(type="radio" name="room" value="D202")
                                            .abs-container.abs-hp-1of2
                                                .abs-content
                                                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-01.jpg')
                                            .rcs-pic-label D202
                                    .room-item.col-xs-6.col-sm-3
                                        .rcs-pic-item
                                            input.rcs-radio(type="radio" name="room" value="D302")
                                            .abs-container.abs-hp-1of2
                                                .abs-content
                                                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-02.jpg')
                                            .rcs-pic-label D302
                                    .room-item.col-xs-6.col-sm-3
                                        .rcs-pic-item
                                            input.rcs-radio(type="radio" name="room" value="C201")
                                            .abs-container.abs-hp-1of2
                                                .abs-content
                                                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-03.jpg')
                                            .rcs-pic-label C201
                                    .room-item.col-xs-6.col-sm-3
                                        .rcs-pic-item
                                            input.rcs-radio(type="radio" name="room" value="F103")
                                            .abs-container.abs-hp-1of2
                                                .abs-content
                                                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-04.jpg')
                                            .rcs-pic-label F103
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 开始时间：
                                        .input-group#time_start_group
                                            input.form-control(type="text" id="time_start" name="time_start")
                                            .input-group-addon.btn.btn-line
                                                i.fa.fa-calendar
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 结束时间：
                                        .input-group#time_end_group
                                            input.form-control(type="text" id="time_end" name="time_end")
                                            .input-group-addon.btn.btn-line
                                                i.fa.fa-calendar
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.form-group-sm.cool-form-group
                                        .control-label.cool-form-label.text-right 会议器械：
                                        select.form-control.selectpicker(id='train_state' name='train_state' title='请选择会议器械' data-actions-box='true'  multiple)
                                            option 投影仪
                                            option 白板
                                            option 电视
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 会议室价格：
                                        .input-group
                                            input.form-control#price(type="text" value="100" disabled)
                                            .input-group-addon 元/时
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 会议费用：
                                        .input-group
                                            input.form-control#fee(type="text" value="0" disabled)
                                            .input-group-addon 元
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    label.icheck-label
                                        input(type='checkbox' name='checkbox_agree' id='checkbox_agree')
                                        .icheck-text(style="display:inline-block; vertical-align: middle; height:22px; line-height:22px; font-weight:normal; font-size:13px;") &nbsp;我已阅读并同意
                                    a(style="display:inline-block; height:22px; vertical-align: middle; line-height:22px; text-decoration:underline !important; font-weight:bold; font-size:13px;" href="#") 使用条例
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
                                    .btn.btn-large.btn-theme#btn_submit
                                        i.fa.fa-upload
                                        |&nbsp;确认提交
                                
            include ../components/footer/index
            include ../components/sidebar/index

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'iCheck/icheck.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'bootstrap-select/bootstrap-select.min.js')
    script(src=JS_DIR + 'bootstrap-select/defaults-zh_CN.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'login.js')
block pagejs
    script(src=JS_DIR + 'approval-meetingroom.js')
    

        
