extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .main-content
        include ../components/slider/index
        .container
            .row
                .col-xs-12
                    div(style="height:300px; background-color:#ff00ff;")

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            
            var sliderData = [
                {
                    imageurl : "../images/slider_1.jpg",
                    title : '园区管理系统上线',
                    info : '经过数月的开发，1688园区管理系统于本日上线试运行'
                },
                {
                    imageurl : "../images/slider_2.jpg",
                    title : '园区官方门户网站上线',
                    info : '经过数月的开发，园区官方门户网站正式上线'
                },
                {
                    imageurl : "../images/slider_3.jpg",
                    title : '1688园区管理系统上线',
                    info : '经过数月的开发，1688园区管理系统于本日上线试运行'
                },
                {
                    imageurl : "../images/slider_4.jpg",
                    title : '1688园区管理系统上线',
                    info : '经过数月的开发，1688园区管理系统于本日上线试运行'
                },
                {
                    imageurl : "../images/slider_5.jpg",
                    title : '1688园区管理系统上线',
                    info : '经过数月的开发，1688园区管理系统于本日上线试运行'
                }
            ];
            
            //初始化轮播插件
            $('#main_slider').dolphinSlider({
                //jsonData : '../data/slider.json',
                jsonData : sliderData,
                autoRun : true,
                slideType : 'basic',
                animDuration : 500,
                duration : 5000,
                navigation : false,
                paginationType : 'fancy',
                paginationHasTimer : true,
                paginationHasDivider : true,
                paginationHidePrevDivider : true,
                paginationClass : 'slider-pagination',
                paginationContainerClass : 'container'
            });
            //alert($('.carousel').data('dolphinSlider').$userItems.length);
        
        });

