extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .main-content
        include ../components/slider/index
        .container
            .row
                .col-xs-12
                    .bg-green(style="height:300px;")

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            var $elem = $('.carousel');
            
            //初始化轮播插件
            $elem.dolphinSlider({
                autoRun : true,
                //slideType : 'customcss',
                slideType : 'basic',
                animDuration : 500,
                duration : 5000,
                navigation : false,
                paginationType : 'fancy',
                paginationHasTimer : true,
                paginationHasDivider : true,
                paginationHidePrevDivider : true,
                paginationClass : 'slider-pagination',
                paginationContainerClass : 'container'
            });
            //alert($('.carousel').data('dolphinSlider').$userItems.length);
        
        });

