extends layout

block css
    link(rel='stylesheet', href= CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-select.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'index-m.css')
        

block content
    .main-content
        include ../components/topbar/index-m
        .main-body
            .topbar-space
            include ../components/banner/banner-chuangye-help
            .container.tp-container.row-space-10
                .row.no-bottom
                    .col-xs-12
                        a.article-intro-item(href="m-chuangye-help-article.html")
                            .article-intro-title
                                .article-intro-title-main 高科技园区科技孵化及加速发展扶持办法
                                .article-intro-title-addon 2018-10-23
                            .article-intro 为贯彻落实《国家中长期科学和技术发展规划纲要（2006—2020年）》，引导和支持高科技园区（以下简称“园区”）科技企业孵化体系
                        a.article-intro-item(href="m-chuangye-help-article.html")
                            .article-intro-title
                                .article-intro-title-main 高科技园区科技孵化及加速发展扶持办法
                                .article-intro-title-addon 2018-10-23
                            .article-intro 为贯彻落实《国家中长期科学和技术发展规划纲要（2006—2020年）》，引导和支持高科技园区（以下简称“园区”）科技企业孵化体系
                        a.article-intro-item(href="m-chuangye-help-article.html")
                            .article-intro-title
                                .article-intro-title-main 高科技园区科技孵化及加速发展扶持办法
                                .article-intro-title-addon 2018-10-23
                            .article-intro 为贯彻落实《国家中长期科学和技术发展规划纲要（2006—2020年）》，引导和支持高科技园区（以下简称“园区”）科技企业孵化体系  
                    .col-xs-12
                        include ../components/pagination/index
        include ../components/m-footnav/index

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrap-select/bootstrap-select.min.js')
    script(src=JS_DIR + 'bootstrap-select/defaults-zh_CN.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
