extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.carousel.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.theme.css')

block content
    .main-content
        include ../components/topbar/index
        .main-body
            .body-mask
            .topbar-space
            

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'iscroll.js')
    script(src=JS_DIR + 'owl.carousel.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){

            
        });

