extends layout

block css
    link(rel='stylesheet', href= CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.carousel.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.theme.default.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'index-m.css')

block content
    .main-content
        include ../components/topbar/index-m
        .body-mask
        .main-body
            .topbar-space
            .row-space-10
                .container.tp-container
                    .tp-content
                        .deco-box
                        .tp-content-title
                            |用户注册
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner
                            form.row.no-bottom#form_login(name='form_login')
                                .col-xs-12
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 用户名：
                                        input.form-control(type='text' placeholder="用户名" name='username' id='username')
                                .col-xs-12
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 密码：
                                        input.form-control(type='password' placeholder="密码" name='password' id='password')
                                .col-xs-12
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 验证码：
                                        .input-group
                                            input.form-control(type='text' placeholder="验证码" name='vcode' id='vcode')
                                            .input-group-addon.vcode( style="padding:0px;")
                                                a(href="#" class="vcode-btn" title="看不清，点击更换验证码")
                                                    img(src="../images/jcaptcha.jpg" style="height:0.28rem;width:auto;")
                                .col-xs-12
                                    .btn.btn-theme.btn-block#login_btn 登录
                                .col-xs-12.text-center.mt-space
                                    span 尚未注册？
                                    a(href="m-regist.html") 免费注册
        include ../components/m-footnav/index
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'iCheck/icheck.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app-m.js')
block pagejs
    script(src=JS_DIR + 'login-m.js')
    

        
