extends layout

block redirect
    script(src=JS_DIR + 'browserRedirect.js')

block css
    link(rel='stylesheet', href= CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.carousel.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'owl.theme.default.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href= CSS_DIR + 'index.css')

block content
    .main-content
        include ../components/topbar/index-chuangye
        .body-mask
        .main-body
            .topbar-space
            .row-space-10
                .container.tp-container
                    .tp-content
                        .deco-box
                        .tp-content-title
                            |企业诉求
                            .tp-content-title-deco
                                |中艺1688
                                br
                                |SHANDONG ARTEX
                        .tp-content-inner
                            form.row.no-bottom#form(name='form')
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 企业名称：
                                        input.form-control(type='text' name='orgname' id='orgname')
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                                    .form-group.cool-form-group
                                        .cool-form-label.text-right.control-label 企业诉求：
                                        textarea.form-control.textarea(rows='3' name='desc' id='desc')
                                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
                                    .btn.btn-large.btn-theme#btn_submit
                                        i.fa.fa-upload
                                        |&nbsp;确认提交
                                
            include ../components/footer/index
            include ../components/sidebar/index

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'iCheck/icheck.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'login.js')
block pagejs
    script(src=JS_DIR + 'org-appeal.js')
    

        
