.row.top-row.no-bottom
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-05.jpg')
            .rcs-pic-label A公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-06.jpg')
            .rcs-pic-label B公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-07.jpg')
            .rcs-pic-label C公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-08.jpg')
            .rcs-pic-label D公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-01.jpg')
            .rcs-pic-label E公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-02.jpg')
            .rcs-pic-label F公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-03.jpg')
            .rcs-pic-label G公司
    .col-xs-6.col-sm-3
        a.rcs-pic-item(href='company-detail.html')
            .abs-container.abs-hp-1of2
                .abs-content
                    img.rcs-pic-img(src=IMG_DIR + 'rcs-item-04.jpg')
            .rcs-pic-label K公司