.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-01.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-02.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-03.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-04.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-05.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-06.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-07.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
.col-xs-6.col-sm-3
    a.rcs-pic-item(href='food-detail.html')
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-08.jpg')
        .rcs-pic-title 店铺名称
        .rcs-pic-content.text-center  订餐电话：13812345678
