.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-01.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-02.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-03.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-04.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-05.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-06.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-07.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
.col-xs-6.col-sm-3
    .rcs-pic-item.no-hover
        .abs-container.abs-hp-1of2
            .abs-content
                img.rcs-pic-img(src=IMG_DIR + 'rcs-item-08.jpg')
        .rcs-pic-label
            .pull-left 菜品名称
            .pull-right ¥60.0
