extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title 租金及物业费
            .col-xs-12
                .box-form.has-title.row-space-10
                    .box-form-title 查询条件
                    form#query_form.row.no-bottom(name='query_form')
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 企业名称：
                                input.form-control(type="text")
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 区域：
                                input.form-control(type="text")
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 房间号：
                                input.form-control(type="text")
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 缴费时间：
                                .input-group.date#rent_time
                                    input.form-control(type="text")
                                    .btn.btn-line.input-group-addon
                                        i.fa.fa-calendar
                        .col-xs-12
                            .btn.btn-line.btn-small
                                i.fa.fa-search
                                |&nbsp;查询
            .col-xs-12
                .toolbar#toolbar
                    .btn.btn-theme#toolbtn_new
                        i.fa.fa-plus
                        |&nbsp;新增
                    .btn.btn-theme#toolbtn_edit
                        i.fa.fa-edit
                        |&nbsp;编辑
                    .btn.btn-theme#toolbtn_remove
                        i.fa.fa-remove
                        |&nbsp;删除
                table#table

                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
    script(src=JS_DIR + 'tableExport.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            
            var $rentTime = $('#rent_time');
            
            var $btn_new = $('#toolbtn_new');
            var $btn_remove = $('#toolbtn_remove');
            var $btn_edit = $('#toolbtn_edit');
            var $table = $('#table');
            
            window.commonTools.setDateTimeInput($rentTime);
            
            $table.bootstrapTable({
                toolbar : '#toolbar',
                showColumns : true,
                showToggle : true,
                showExport : true,
                pagination : true,
                showPaginationSwitch : false,
                clickToSelect : true,
                columns: [
                    {
                        field: 'check',
                        checkbox: true,
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        field: 'id',
                        title: '序号',
                        sortable: true,
                        halign: 'center',
                        align: 'right',
                        width: 30
                    },
                    {
                        field: 'fee_type',
                        title: '缴费类型',
                        sortable: true,
                        halign: 'center'
                    }, 
                    {
                        field: 'orgname',
                        title: '企业名称',
                        halign: 'center'
                    }, 
                    {
                        field: 'legal_person',
                        title: '法人代表',
                        halign: 'center'
                    }, 
                    {
                        field: 'phone',
                        title: '联系电话',
                        halign: 'center'
                    },
                    {
                        field: 'section',
                        title: '区域',
                        halign: 'center'
                    },
                    {
                        field: 'room_num',
                        title: '房间号',
                        halign: 'center'
                    }, 
                    {
                        field: 'due_fee',
                        title: '应缴金额(元)',
                        halign: 'center',
                        align: 'right'
                    },
                    {
                        field: 'actual_fee',
                        title: '实缴金额(元)',
                        halign: 'center',
                        align: 'right'
                    },
                    {
                        field: 'next_time',
                        title: '下次缴费时间',
                        halign: 'center'
                    },
                    {
                        field: 'hasten_time',
                        title: '催缴时间',
                        halign: 'center'
                    },
                ],
                data: [
                    {
                        id : 1,
                        fee_type : '物业费',
                        orgname : '企业名称1',
                        legal_person : '王先生',
                        phone : '13812345678',
                        section : 'D1',
                        room_num : '202',
                        due_fee : '2300.00',
                        actual_fee : '1200.00',
                        next_time : '2018-09-09',
                        hasten_time : '2018-08-09'
                    },
                    {
                        id : 2,
                        fee_type : '租赁费',
                        orgname : '企业名称2',
                        legal_person : '李先生',
                        phone : '13592837491',
                        section : 'A1',
                        room_num : '308',
                        due_fee : '4500.00',
                        actual_fee : '4200.00',
                        next_time : '2018-03-12',
                        hasten_time : '2018-02-12'
                    }
                ]
            });
            
            //设置工具栏按钮禁用状态
            setToolBtnDisableState();
            $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                setToolBtnDisableState();
            });
            
            //新增&编辑弹窗的表单模板
            var modalHtml = "<div class='row-space-10'>" +
                                "<div class='row no-bottom'>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>企业名称：</div>" +
                                            "<select class='form-control' id='select_org'>" +
                                            "</select>" + 
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>法人名称：</div>" +
                                            "<input class='form-control' type='text' id='legal_person'>" + 
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>所在区域：</div>" +
                                            "<input class='form-control' type='text' id='section'>" + 
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>房间号：</div>" +
                                            "<input class='form-control' type='text' id='room_num'>" + 
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>缴费类型：</div>" +
                                            "<select class='form-control' id='fee_type'>" +
                                            "</select>" + 
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>缴费金额：</div>" +
                                            "<div class='input-group'>" +
                                                "<input class='form-control' type='text' id='fee'>" + 
                                                "<div class='input-group-addon'>元</div>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>应缴时间：</div>" +
                                            "<div class='input-group date'>" +
                                                "<input class='form-control' type='text' id='due_time'>" + 
                                                "<div class='input-group-addon'><i class='fa fa-calendar'></i></div>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<div class='form-group form-group-sm cool-form-group'>" +
                                            "<div class='control-label cool-form-label text-right'>催缴时间：</div>" +
                                            "<div class='input-group date'>" +
                                                "<input class='form-control' type='text' id='hasten_time'>" + 
                                                "<div class='input-group-addon'><i class='fa fa-calendar'></i></div>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>";
            
            //弹窗初始化后，给表单赋初始值,type区分新增或编辑
            function modalInit(type){
                
                //加载表单信息，此处直接赋值用于前端展示
                var formData = [
                    {
                        orgname : '海尔',
                        legal_person : '宋法棠',
                        section : 'D2',
                        room_num : '202'
                    },
                    {
                        orgname : '海信',
                        legal_person : '张伟',
                        section : 'D1',
                        room_num : '305'
                    }
                ];
                
                //获取缴费类型选项，此处直接给出用户前端展示
                var feeTypeOptionData = [
                    {
                        value:'配送费',
                        text:'配送费'
                    },
                    {
                        value:'保洁费',
                        text:'保洁费'
                    }
                ];
                window.commonTools.addSelectOptions($('#fee_type'), feeTypeOptionData);
                
                
                //企业名称select赋option值
                window.commonTools.addSelectOptions($('#select_org'), setSelectData(formData));
                
                if(type == '新增') {
                    window.commonTools.setDateTimeInput($('#due_time'));
                    window.commonTools.setDateTimeInput($('#hasten_time'));
                } else if(type == '编辑') {
                    //加载编辑弹窗的表单信息，此处直接赋值用于前端展示
                    $("#select_org").val('海信');
                    $("#fee_type").val('配送费');
                    $('#fee').val('2300.00');
                    window.commonTools.setDateTimeInput($('#due_time'), '2018-09-09');
                    window.commonTools.setDateTimeInput($('#hasten_time'), '2018-08-09');
                }
                
                
                setFormData($('#select_org').val());
                
                //改变企业名称select时，加载不同的表单内容
                $('#select_org').change(function(){
                    setFormData($('#select_org').val());
                });
                
                function setSelectData(formData) {
                    var selectData = [];
                    for(i in formData) {
                        selectData.push({
                            value : formData[i].orgname,
                            text : formData[i].orgname
                        });
                    }
                    return selectData;
                }
                
                //填充不可编辑的表单内容
                function fillFormData(data){
                    //法人名称
                    $('#legal_person').attr({
                        'value' : data.legal_person,
                        'disabled' : true
                    });
                    
                    //所在区域
                    $('#section').attr({
                        'value' : data.section,
                        'disabled' : true
                    });
                    
                    //房间号
                    $('#room_num').attr({
                        'value' : data.room_num,
                        'disabled' : true
                    });
                }
                
                //前端演示切换企业名称时，表单不可编辑项跟随改变
                function setFormData(selectVal) {
                    fillFormData(window.commonTools.getSubArrayByObjValue(formData, 'orgname', selectVal)[0]);
                }
                
                
            }
            
            
            //新增
            $btn_new.click(function () {
                
                BSModal.confirm({
                    title : '新增',
                    content : modalHtml,
                    width : '600',
                    maxHeight : '400',
                    btnOKDismiss : false,
                    btnOK : '提交',
                    afterInit: function(){
                        modalInit('新增');
                    }
                }).on(function(e, id) {
                    if (!e) {
                        return;
                    }
                    //提交成功后，刷新表格数据:
                    //$table.bootstrapTable('load', data);
                    
                    $('#'+id).modal('hide');
                    toastr.success('您新增的数据已提交！');
                });
            });
            
            //编辑
            $btn_edit.click(function () {
                if(!$(this).attr('disabled')) {
                    //取表格的选中行数据
                    var arrselections = $table.bootstrapTable('getSelections');
                    if (arrselections.length <= 0) {
                        toastr.warning('请选择有效数据');
                        return;
                    }
                    console.log(JSON.stringify(arrselections));
                    
                    BSModal.confirm({
                        title : '编辑',
                        content : modalHtml,
                        width : '600',
                        maxHeight : '400',
                        btnOKDismiss : false,
                        btnOK : '提交',
                        afterInit: function(){
                            modalInit('编辑');
                        }
                    }).on(function(e, id) {
                        if (!e) {
                            return;
                        }
                        //提交成功后，刷新表格数据:
                        //$table.bootstrapTable('load', data);
                        
                        $('#'+id).modal('hide');
                        toastr.success('您编辑的数据已提交！');
                        
                    });
                }
            });
            
            //删除
            $btn_remove.click(function () {
                //按钮如果不是disabled状态,则可进行操作
                if(!$(this).attr('disabled')) {
                    //取表格的选中行数据
                    var arrselections = $table.bootstrapTable('getSelections');
                    if (arrselections.length <= 0) {
                        toastr.warning('请选择有效数据');
                        return;
                    }
 
                    BSModal.confirm({ content: "确认要删除选择的数据吗？" }).on(function (e) {
                        if (!e) {
                            return;
                        }
                        
                        //ajax删除数据...
                        
                        //此处仅是前端演示删除后的效果：删除表格条目，重置工具栏状态，显示删除成功的提示
                        var ids = getIdSelections();
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                        setToolBtnDisableState();
                        toastr.success('删除的数据已提交成功！');
                        
                    });
                }
            });
            
            function getIdSelections() {
                return $.map($table.bootstrapTable('getSelections'), function (row) {
                    return row.id
                });
            }
            
            function setToolBtnDisableState() {
                $btn_remove.attr('disabled', !$table.bootstrapTable('getSelections').length);
                $btn_edit.attr('disabled', $table.bootstrapTable('getSelections').length != 1);
            }
            
        });



