extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title 固定资产
            .col-xs-12
                .toolbar#toolbar
                    a.btn.btn-theme#toolbtn_buy(href='estate-stock-assets-buy.html')
                        i.fa.fa-money
                        |&nbsp;采购管理
                    a.btn.btn-theme#toolbtn_get(href='estate-stock-assets-get.html')
                        i.fa.fa-inbox
                        |&nbsp;领用管理
                    a.btn.btn-theme#toolbtn_scrap(href='estate-stock-assets-scrap.html')
                        i.fa.fa-trash
                        |&nbsp;报废管理
                    a.btn.btn-theme#toolbtn_sell(href='estate-stock-assets-sell.html')
                        i.fa.fa-shopping-cart
                        |&nbsp;出售管理
                table#table

                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
    script(src=JS_DIR + 'tableExport.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            
            var $btn_buy = $('#toolbtn_buy');
            var $btn_get = $('#toolbtn_get');
            var $btn_scrap = $('#toolbtn_scrap');
            var $btn_sell = $('#toolbtn_sell');
            
            var $table = $('#table');
            
            $table.bootstrapTable({
                toolbar : '#toolbar',
                showColumns : true,
                showToggle : true,
                showExport : true,
                pagination : true,
                showPaginationSwitch : false,
                columns: [
                    {
                        field: 'type',
                        title: '资产类型',
                        sortable: true,
                        halign: 'center'
                    }, 
                    {
                        field: 'name',
                        title: '资产名称',
                        halign: 'center'
                    }, 
                    {
                        field: 'in_num',
                        title: '入库数',
                        halign: 'center',
                        align: 'right'
                    },
                    {
                        field: 'out_num',
                        title: '出库数',
                        halign: 'center',
                        align: 'right'
                    }, 
                    {
                        field: 'current_num',
                        title: '在库数',
                        halign: 'center',
                        align: 'right'
                    }
                ],
                data: [
                    {
                        type : '固定资产',
                        name : '电脑',
                        in_num : '821',
                        out_num : '800',
                        current_num : '21'
                    },
                    {
                        type : '易耗品',
                        name : 'A4纸',
                        in_num : '300',
                        out_num : '289',
                        current_num : '11'
                    }
                ]
            });
            
        });



