extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title 
                    |维修预览
                    a.btn.btn-sm.btn-theme.pull-right(href="estate-repair.html")
                        i.fa.fa-undo
                        |&nbsp;返回
            .col-xs-12.row-space-10
                form.row.no-bottom
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 申报人：
                            input.form-control(type='text' value='海尔' disabled)
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 类型：
                            select.form-control#type(disabled)
                                option 电力
                                option 管道
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 时间：
                            .input-group
                                input.form-control(type='text' id='date' value='2018-10-23' disabled)
                                .input-group-addon
                                    i.fa.fa-calendar
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 费用评估：
                            .input-group
                                input.form-control(type='text' id='fee' value='300' disabled)
                                .input-group-addon 元
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 问题描述：
                            textarea.form-control.textarea(rows='3' disabled) 灯不亮了
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 现场图片：
                            .cool-form-content
                                .row.no-bottom
                                    .col-xs-12.col-sm-6
                                        .abs-container.abs-hp-9of16
                                            .abs-content.full-abs-img
                                                img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                    .col-xs-12.col-sm-6
                                        .abs-container.abs-hp-9of16
                                            .abs-content.full-abs-img
                                                img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                            
                    .col-xs-12.col-sm-6.col-md-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 指派专员：
                            select.form-control#assign(disabled)
                                option 专员A
                                option 专员B
                    .col-xs-12.col-sm-6.col-md-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 到场时间：
                            .input-group
                                input.form-control(type='text' id='arrive_time' value='2018-10-13 13:55' disabled)
                                .input-group-addon
                                    i.fa.fa-calendar
                    .col-xs-12.col-sm-6.col-md-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 结束时间：
                            .input-group
                                input.form-control(type='text' id='finish_time' value='2018-10-13 16:23' disabled)
                                .input-group-addon
                                    i.fa.fa-calendar
                    


block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            
        });



