-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='1688双创智慧园区管理系统')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688双创智慧园区管理系统
        link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
        link(rel='stylesheet', href=JS_DIR + 'layui/css/layui.css')
        link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body(class="im-body")
        div(style="position:absolute; left:0; top:0; z-index:29891015;")
            audio#message_sound(src="../mp3/new-message.mp3" type="audio/mp3")
            .message-train(style="top:0.2rem;")
        .im-bg
        script(src=JS_DIR + 'jquery.min.js')
        script(src=JS_DIR + 'bootstrap.min.js')
        script(src=JS_DIR + 'layui/layui.js')
        script(src=JS_DIR + 'app.js')
        script(src=JS_DIR + 'IM.js')
        script(src=JS_DIR + 'IMMessage.js')

    
        
