extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'perfect-scrollbar.min.css')
    link(rel='stylesheet', href=JS_DIR + 'layui/css/layui.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.carousel.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.theme.default.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .main-content
        .top-container
            include ../components/topbar/index-oa
        .left-container#left_container
            .tree-menu-title 
                .tree-menu-title-box 办公协同
                .tree-menu-title-line
            include ../components/tree-menu/tm-has-title
        .right-container
            iframe.main-iframe(name="main_iframe" frameborder = 0 src = "oa.html")
        
        audio#message_sound(src="../mp3/new-message.mp3" type="audio/mp3")
        .message-train
        
        .mobile-menu-mask#menu_mask
            

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'iscroll.js')
    script(src=JS_DIR + 'perfect-scrollbar.jquery.min.js')
    script(src=JS_DIR + 'layui/layui.js')
    script(src=JS_DIR + 'owl.carousel.min.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'index-oa.js')
    script(src=JS_DIR + 'OAMessage.js')
    script(src=JS_DIR + 'IMBtn.js')
        
