extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.carousel.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'owl.theme.default.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .main-content
        .top-container
            include ../components/topbar/index-platform
        .platform-pager
            .platform-pager-selector
        .platform-screen
            .platform-screen-content
                .gif-1
                    img(src=IMG_DIR + 'data-anim-1.gif')
                .gif-2
                    img(src=IMG_DIR + 'data-anim-2.gif')
                .gif-3
                    img(src=IMG_DIR + 'data-anim-3.gif')
                .gif-4
                    img(src=IMG_DIR + 'data-anim-4.gif')
                //中间数字
                .num-center
                    .num-center-text#num_center 000

                //服务资源数
                .num-tl
                    .num-tl-text#num_tl 00
                .tl-chart#chart_tl
                
                //孵化项目数
                .num-tl.num-tl2
                    .num-tl-text#num_tl2 00
                .tl2-chart#tl2
                    .tl2-bar
                        .bar-content#tl2_5
                    .tl2-bar
                        .bar-content#tl2_4
                    .tl2-bar
                        .bar-content#tl2_3
                    .tl2-bar
                        .bar-content#tl2_2
                    .tl2-bar
                        .bar-content#tl2_1

                //两侧数据            
                .num-r.pos1
                    .num-r-text#num_r1 00
                    .r-chart#chart_r1
                .num-r.pos2
                    .num-r-text#num_r2 00
                    .r-chart#chart_r2
                .num-r.pos3
                    .num-r-text#num_r3 00
                    .r-chart#chart_r3
                .num-r.pos4
                    .num-r-text#num_r4 00
                    .r-chart#chart_r4
                .num-r.num-l.pos1
                    .num-r-text#num_r5 00
                    .r-chart#chart_r5
                .num-r.num-l.pos2
                    .num-r-text#num_r6 00
                    .r-chart#chart_r6
                .num-r.num-l.pos3
                    .num-r-text#num_r7 00
                    .r-chart#chart_r7
                .num-r.num-l.pos4
                    .num-r-text#num_r8 00
                    .r-chart#chart_r8

                img(src=IMG_DIR + 'data-bg1.jpg')
                
            .platform-screen-content
                .page2_chartbox.pos1#chart_2_1
                .page2_chartbox.pos2#chart_2_2
                .page2_chartbox.pos3#chart_2_3
                .page2_chartbox.pos4#chart_2_4
                img(src=IMG_DIR + 'data-bg2.jpg')
                .gif-1.page2
                    img(src=IMG_DIR + 'data-anim-1.gif')
                .gif-2
                    img(src=IMG_DIR + 'data-anim-2.gif')

            .platform-screen-content
                .page3_chartbox.pos1.owl-carousel.owl-theme#carousel_1
                    .slider-item
                        .slider-num 3953
                        .slider-info 2017年9月维修次数
                    .slider-item
                        .slider-num 3881
                        .slider-info 2017年10月维修次数
                    .slider-item
                        .slider-num 4275
                        .slider-info 2017年11月维修次数
                    .slider-item
                        .slider-num 4029
                        .slider-info 2017年12月维修次数
                    .slider-item
                        .slider-num 3591
                        .slider-info 2018年1月维修次数
                        
                .page3_chartbox.pos2
                    .center-num 286
                .page3_chartbox.pos2#chart_3_1
                    
                .page3_chartbox.pos3
                    .slider-item
                        .slider-num 2173
                        .slider-info 2017年12月20日
                        
                .page3_chartbox.pos4.owl-carousel.owl-theme#carousel_2
                    .slider-item
                        .slider-num 1392
                        .slider-info 2017年12月第一周
                    .slider-item
                        .slider-num 1405
                        .slider-info 2017年12月第二周
                    .slider-item
                        .slider-num 1121
                        .slider-info 2017年12月第三周
                    .slider-item
                        .slider-num 1537
                        .slider-info 2017年12月第四周
                    
                .page3_chartbox.pos5.owl-carousel.owl-theme#carousel_3
                    .slider-item
                        .slider-num 493
                        .slider-info 2017年12月第一周
                    .slider-item
                        .slider-num 302
                        .slider-info 2017年12月第二周
                    .slider-item
                        .slider-num 581
                        .slider-info 2017年12月第三周
                    .slider-item
                        .slider-num 464
                        .slider-info 2017年12月第四周
                    
                .page3_chartbox.pos6#chart_3_2
                    
                .page3_chartbox.pos7.owl-carousel.owl-theme#carousel_4
                    .slider-item
                        .slider-num 102
                        .slider-info 2017年9月用水量
                    .slider-item
                        .slider-num 183
                        .slider-info 2017年10月用水量
                    .slider-item
                        .slider-num 185
                        .slider-info 2017年11月用水量
                    .slider-item
                        .slider-num 179
                        .slider-info 2017年12月用水量
                    .slider-item
                        .slider-num 150
                        .slider-info 2018年1月用水量
                    
                .page3_chartbox.pos8.owl-carousel.owl-theme#carousel_5
                    .slider-item
                        .slider-num 4210
                        .slider-info 2017年9月用电量
                    .slider-item
                        .slider-num 4372
                        .slider-info 2017年10月用电量
                    .slider-item
                        .slider-num 4582
                        .slider-info 2017年11月用电量
                    .slider-item
                        .slider-num 4649
                        .slider-info 2017年12月用电量
                    .slider-item
                        .slider-num 4203
                        .slider-info 2018年1月用电量
                    
                img(src=IMG_DIR + 'data-bg3.jpg')
                .gif-1.page3
                    img(src=IMG_DIR + 'data-anim-1.gif')
                .gif-2
                    img(src=IMG_DIR + 'data-anim-2.gif')

block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'highcharts.js')
    script(src=JS_DIR + 'highcharts-zh_CN.js')
    script(src=JS_DIR + 'jquery.mousewheel.min.js')
    script(src=JS_DIR + 'jquery.easing.min.js')
    script(src=JS_DIR + 'owl.carousel.min.js')
    script(src=JS_DIR + 'rhui-swipe.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'index-platform.js')
    script(src=JS_DIR + 'IMBtn.js')
