-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"



doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='hisense')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688Admin
        block css
            link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-editable.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-treeview.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body
        block content
        block js
            script(src=JS_DIR + 'jquery.min.js')
            script(src=JS_DIR + 'bootstrap.min.js')
            script(src=JS_DIR + 'moment/moment.min.js')
            script(src=JS_DIR + 'moment/zh-cn.js')
            script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table-editable.min.js')
            script(src=JS_DIR + 'bootstrap-editable.min.js')
            script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
            script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
            script(src=JS_DIR + 'bootstrap-treeview.min.js')
            script(src=JS_DIR + 'app.js')
