-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"



doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='1688双创智慧园区管理系统')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688双创智慧园区管理系统
        block css
            link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'perfect-scrollbar.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-editable.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
            link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
            link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
            link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
            link(rel='stylesheet', href=JS_DIR + 'summernote/summernote.css')
            link(rel='stylesheet', href=CSS_DIR + 'bootstrap-treeview.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
            link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body
        block content
        block js
            script(src=JS_DIR + 'jquery.min.js')
            script(src=JS_DIR + 'bootstrap.min.js')
            
            script(src=JS_DIR + 'highcharts.js')
            script(src=JS_DIR + 'highcharts-zh_CN.js')
            
            script(src=JS_DIR + 'iscroll.js')
            
            script(src=JS_DIR + 'perfect-scrollbar.jquery.min.js')
            
            script(src=JS_DIR + 'moment/moment.min.js')
            script(src=JS_DIR + 'moment/zh-cn.js')
            script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
            
            script(src=JS_DIR + 'iCheck/icheck.min.js')
            
            script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
            script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
            
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
            
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
            script(src=JS_DIR + 'tableExport.min.js')
            
            script(src=JS_DIR + 'bootstrap-table/bootstrap-table-editable.min.js')
            script(src=JS_DIR + 'bootstrap-editable.min.js')
            
            script(src=JS_DIR + 'bootstrap-treeview.min.js')
            
            script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
            script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
            script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
            
            script(src=JS_DIR + 'summernote/summernote.min.js')
            script(src=JS_DIR + 'summernote/summernote-zh-CN.min.js')
            
            script(src=JS_DIR + 'toastr.min.js')
            script(src=JS_DIR + 'BSModal.js')
            script(src=JS_DIR + 'common.js')
            script(src=JS_DIR + 'app.js')
