extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'summernote/summernote.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |招商信息发布
                    a.btn.btn-sm.btn-theme.pull-right(href="merchant-info.html")
                        i.fa.fa-undo
                        |&nbsp;返回 
                    
            .col-xs-12.row-space-10
                form#form_new.row.no-bottom(name="form_new")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |标题：
                            input.form-control#title(type="text" name="title")
                    .col-xs-12
                        .summernote-title
                            span.font-red-intense *&nbsp;
                            |编辑内容：
                        div#summernote
                    .col-xs-12.col-sm-12.col-md-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 是否专题：
                            select.form-control
                                option 否
                                option 是
                    .col-xs-12.col-sm-12.col-md-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 截止提醒：
                            .input-group.date#deadline_date
                                input.form-control(type="text")
                                .btn.btn-line.input-group-addon
                                    i.fa.fa-calendar
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 新闻来源：
                            input.form-control(type="text")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 附件：
                            input.form-control.input-file#input_appendix(type="file")
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_publish
                            i.fa.fa-upload
                            |&nbsp;发布
                        .btn.btn-large.btn-theme#btn_draft
                            i.fa.fa-save
                            |&nbsp;暂存
                        .btn.btn-large.btn-theme#btn_preview
                            i.fa.fa-eye
                            |&nbsp;预览


                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'summernote/summernote.min.js')
    script(src=JS_DIR + 'summernote/summernote-zh-CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            var $title = $('#title'); //文章标题
            var $deadline_date = $('#deadline_date'); //截止提醒日期
            var $summernote = $('#summernote'); //富文本编辑器
            var $btn_publish = $('#btn_publish'); //按钮发布
            var $btn_draft = $('#btn_draft'); //按钮暂存
            var $btn_preview = $('#btn_preview'); //按钮预览
            var $input_appendix = $('#input_appendix');
            var $formNew = $('#form_new');
            
            //截止提醒
            $deadline_date.datetimepicker({
                viewMode: 'days',
                format: 'YYYY-MM-DD',
                allowInputToggle: true
            });
            
            //附件上传 初始化fileinput插件
            $input_appendix.fileinput({
                language : 'zh'
            });
            
            $summernote.summernote({
                lang: 'zh-CN',
                minHeight: 300,
                maxHeight: 600,
                toolbar: [
                    ['para', ['style', 'ul', 'ol', 'paragraph']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['Insert',['picture', 'link', 'table']],
                    ['misc', ['undo', 'redo', 'fullscreen']]
                ]
            });
            
            //发布
            $btn_publish.click(function(){
                if(checkValidation()) {
                    //此处提交数据，提交成功后，返回上级页面
                    window.location.href='merchant-info.html';
                }
            });
            
            //暂存
            $btn_draft.click(function(){
                if(checkValidation()) {
                    //此处提交数据，提交成功后，弹出如下提示
                    toastr.success('您编辑的内容已暂存');
                }
            });
            
            //预览
            $btn_preview.click(function(){
                //判断编辑器内容是否为空：$summernote.summernote('isEmpty')
                //获取编辑器内容：$summernote.summernote('code')
                //获取标题文本框输入的内容：$title.val() （如果使用$title.attr('value')，此处会返回undefined, 因为当前input没有写上value这个属性）
                if(checkValidation()) {
                    var titleText = $title.val();
                    var htmlStr =   '<div class="article-title">' + titleText + '</div>' + 
                                    '<div class="article-info">' +
                                        '<div class="article-info-item">作者：' + commonTools.getUserName() + '</div>' +
                                        '<div class="article-info-item">发布时间：' + commonTools.getLocalTime() + '</div>' +
                                    '</div>' +
                                    '<div class="article-content">' +
                                        $summernote.summernote('code') +
                                    '</div>';
                    BSModal.confirm({
                        title : '预览',
                        content : htmlStr,
                        width : '90%',
                        btnOK : '确定',
                        btnCancel : '',
                        maxHeight: '450px'
                    });
                }
            });
            
            $formNew.bootstrapValidator({
                fields: {
                    title: {
                        message: '标题验证失败',
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            }
                        }
                    }
                }
            });
            
            //判断必填项是否都已填入内容
            function checkValidation() {
                if($summernote.summernote('isEmpty')) {
                    toastr.warning('内容不能为空');
                    return false;
                } else {
                    var bsValidator = $formNew.data('bootstrapValidator');
                    bsValidator.validate();
                    var result = bsValidator.isValid();
                    if(!result) {
                        toastr.warning('您有未填写的必填项');
                    }
                    return result;
                }
            }
            
        });



