extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title 岗位调整
            .col-xs-12
                .box-form.has-title.row-space-10
                    .box-form-title 查询条件
                    form#query_form.row.no-bottom(name='query_form')
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 姓名：
                                input.form-control(type="text")
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 异动类别：
                                select.form-control
                                    option 内部调岗
                                    option 临时借调
                                    option 正式调动
                                    option 晋升
                                    option 降职
                        .col-xs-12
                            .btn.btn-line.btn-small
                                i.fa.fa-search
                                |&nbsp;查询
            .col-xs-12
                .toolbar#toolbar
                    a.btn.btn-theme#toolbtn_new(href="oa-hr-post-new.html")
                        i.fa.fa-plus
                        |&nbsp;新增
                    .btn.btn-theme#toolbtn_edit
                        i.fa.fa-edit
                        |&nbsp;编辑
                    .btn.btn-theme#toolbtn_remove
                        i.fa.fa-remove
                        |&nbsp;删除
                table#table

                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'oa-hr-post.js')
        
