extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-select.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |销假
                    a.btn.btn-sm.btn-theme.pull-right(href="oa-hr-leave.html")
                        i.fa.fa-undo
                        |&nbsp;返回
            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 姓名：
                            .cool-form-content 尼克
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 编号：
                            .cool-form-content 4-103
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 职别：
                            .cool-form-content 职员
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 工作部门：
                            .cool-form-content 行政部
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 请假类别：
                            .cool-form-content 婚假
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 请假事由：
                            .cool-form-content 回老家结婚
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 本次休假起始日：
                            .cool-form-content 2018-09-03
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 本次休假截止日：
                            .cool-form-content 2018-09-10
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 部门经理批示：
                            .cool-form-content 同意
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 副总经理批示：
                            .cool-form-content 同意
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 总经理批示：
                            .cool-form-content 同意
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 销假记录：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_submit
                            i.fa.fa-upload
                            |&nbsp;销假



                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-select/bootstrap-select.min.js')
    script(src=JS_DIR + 'bootstrap-select/defaults-zh_CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'oa-hr-leave-clear.js')
        




                    
            




                    
            




            



