extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-select.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |年假申请
                    a.btn.btn-sm.btn-theme.pull-right(href="oa-hr-leave.html")
                        i.fa.fa-undo
                        |&nbsp;返回
            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 姓名：
                            input.form-control(type='text')
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 工作部门：
                            input.form-control(type='text')
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 职务：
                            input.form-control(type='text')
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 参加工作时间：
                            .input-group.date#workdate
                                input.form-control(type='text' id='worktime' name='worktime')
                                .input-group-addon.btn.btn-line
                                    i.fa.fa-calendar
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 工作年限：
                            input.form-control(type='text')
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 应休假时间：
                            input.form-control(type='text')
                    .col-xs-12.col-sm-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 剩余假时间：
                            .cool-form-content 8天1小时30分
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 本次休假起始日：
                            .input-group.date#startdate
                                input.form-control(type='text' id='starttime' name='starttime')
                                .input-group-addon.btn.btn-line
                                    i.fa.fa-calendar
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 本次休假截止日：
                            .input-group.date#enddate
                                input.form-control(type='text' id='endtime' name='endtime')
                                .input-group-addon.btn.btn-line
                                    i.fa.fa-calendar
                    .col-xs-12.col-sm-4
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 本次休假时间：
                            .cool-form-content#leave_days
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 部门负责人签字：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 人力负责人确认：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 分管副总审批：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 总经理审批：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 备注：
                            textarea.textarea.form-control(rows='2')
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_submit
                            i.fa.fa-upload
                            |&nbsp;提交
                        .btn.btn-large.btn-theme#btn_save
                            i.fa.fa-save
                            |&nbsp;保存



                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-select/bootstrap-select.min.js')
    script(src=JS_DIR + 'bootstrap-select/defaults-zh_CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'oa-hr-leave-new-1.js')
        




                    
            




                    
            




            
