extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |修改密码

            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 旧密码：
                            input.form-control(type='password' id='pass_old' name='pass_old')
                    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 新密码：
                            input.form-control(type='password' id='pass_new' name='pass_new')
                    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 确认新密码：
                            input.form-control(type='password' id='pass_renew' name='pass_renew')
                    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                        .btn.btn-large.btn-theme#btn_save
                            i.fa.fa-save
                            |&nbsp;修改密码


                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'oa-personal-password.js')
        




                    
            




                    
            
