-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='1688双创智慧园区管理系统')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688双创智慧园区管理系统
        link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body(class="email-content")
        .email-left-menu
            a.btn-new-mail.btn.btn-theme(href="oa-personal-email-write.html")
                i.fa.fa-pencil-square
                |&nbsp;写邮件
            ul.nav.nav-tabs.email-menu-tabs
                li
                    a(href="oa-personal-email.html")
                        i.fa.fa-envelope-open
                        |&nbsp;收件箱
                li
                    a(href='oa-personal-email-send.html')
                        i.fa.fa-send
                        |&nbsp;已发送
                li
                    a(href='oa-personal-email-draft.html')
                        i.fa.fa-file-text
                        |&nbsp;草稿箱
                li
                    a(href='oa-personal-email-trash.html')
                        i.fa.fa-trash
                        |&nbsp;回收站
        .email-right-content
            .container-fluid.row-space-10
                .row.mt-10
                    .col-xs-12
                        .toolbar
                            a.btn.btn-theme(href="oa-personal-email.html")
                                i.fa.fa-arrow-left
                                |&nbsp;返回
                            a.btn.btn-theme(href="oa-personal-email-write.html")
                                i.fa.fa-mail-forward
                                |&nbsp;回复
                    .col-xs-12
                        .email-title 年末福利-500元礼券 -- 给忙碌了一年的你の奖励！
                    .col-xs-12
                        .email-info-label 发件人：
                        .email-info-content 黄任勋@1688.com
                    .col-xs-12
                        .email-info-label 收件人：
                        .email-info-content
                            |我
                            span.font-gray-99 &lt;address@1688.com&gt;
                    .col-xs-12
                        .email-info-label 时&nbsp;&nbsp;&nbsp;间：
                        .email-info-content 2017.12.12 12:12
                    .col-xs-12
                        .box-form
                            .article-content 邮件内容
                            .article-appendix-title.mail-appendix-title 附件
                            .article-appendix
                                i.fa.fa-file-archive-o
                                |&nbsp;
                                a(href="#") 关于某某项目的通知.pdf
                            .article-appendix
                                i.fa.fa-file-archive-o
                                |&nbsp;
                                a(href="#") 关于某某项目的需求定义报告书.doc
                            
                        
        
        script(src=JS_DIR + 'jquery.min.js')
        script(src=JS_DIR + 'bootstrap.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
        script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
        script(src=JS_DIR + 'toastr.min.js')
        script(src=JS_DIR + 'BSModal.js')
        script(src=JS_DIR + 'common.js')
        script(src=JS_DIR + 'app.js')
        script(src=JS_DIR + 'oa-personal-email-detail.js')

    
        
