-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='1688双创智慧园区管理系统')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688双创智慧园区管理系统
        link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body(class="email-content")
        .email-left-menu
            a.btn-new-mail.btn.btn-theme(href="oa-personal-email-write.html")
                i.fa.fa-pencil-square
                |&nbsp;写邮件
            ul.nav.nav-tabs.email-menu-tabs
                li
                    a(href="oa-personal-email.html")
                        i.fa.fa-envelope-open
                        |&nbsp;收件箱
                li
                    a(href='oa-personal-email-send.html')
                        i.fa.fa-send
                        |&nbsp;已发送
                li
                    a(href='oa-personal-email-draft.html')
                        i.fa.fa-file-text
                        |&nbsp;草稿箱
                li.active
                    a(href='oa-personal-email-trash.html')
                        i.fa.fa-trash
                        |&nbsp;回收站
        .email-right-content
            .container-fluid.row-space-10
                .row.mt-10
                    .col-xs-12
                        .section-title
                            .section-title-icon
                            .section-title-text(style="background-color:#f7f8fa;") 回收站
                    .col-xs-12
                        .toolbar#toolbar1
                            .btn.btn-theme#toolbtn1_recover
                                i.fa.fa-mail-reply-all
                                |&nbsp;还原
                            .btn.btn-theme#toolbtn1_remove
                                i.fa.fa-remove
                                |&nbsp;彻底删除
                        table#table1
        
        script(src=JS_DIR + 'jquery.min.js')
        script(src=JS_DIR + 'bootstrap.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
        script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
        script(src=JS_DIR + 'toastr.min.js')
        script(src=JS_DIR + 'BSModal.js')
        script(src=JS_DIR + 'common.js')
        script(src=JS_DIR + 'app.js')
        script(src=JS_DIR + 'oa-personal-email-trash.js')

    
        
