-
    var IMG_DIR = "../images/"
    var JS_DIR = "../js/"
    var CSS_DIR = "../css/"

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='renderer' content='webkit')
        meta(name='description', content='1688双创智慧园区管理系统')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title 1688双创智慧园区管理系统
        link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
        link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'bootstrap-treeview.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
        link(rel='stylesheet', href=CSS_DIR + 'index.css')
            
    body(class="email-content")
        .email-left-menu
            a.btn-new-mail.btn.btn-theme(href="oa-personal-email-write.html")
                i.fa.fa-pencil-square
                |&nbsp;写邮件
            ul.nav.nav-tabs.email-menu-tabs
                li
                    a(href="oa-personal-email.html")
                        i.fa.fa-envelope-open
                        |&nbsp;收件箱
                li
                    a(href='oa-personal-email-send.html')
                        i.fa.fa-send
                        |&nbsp;已发送
                li
                    a(href='oa-personal-email-draft.html')
                        i.fa.fa-file-text
                        |&nbsp;草稿箱
                li
                    a(href='oa-personal-email-trash.html')
                        i.fa.fa-trash
                        |&nbsp;回收站
        .email-right-content
            .container-fluid.row-space-10
                .row.mt-10
                    .col-xs-12
                        .toolbar
                            a.btn.btn-theme(href="oa-personal-email.html")
                                i.fa.fa-arrow-left
                                |&nbsp;返回
                            .btn.btn-theme#btn_save_draft
                                i.fa.fa-save
                                |&nbsp;存草稿
                    .col-xs-12
                        .box-form
                            .row.no-bottom
                                .col-xs-12#notice_list_container
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 收件人：
                                        .dropdown.treeview-select                          
                                            button.treeview-select-btn(type="button" id="btn_notice_list" data-toggle="dropdown")
                                            input.treeview-select-input(type="text" id="notice_list")
                                            .dropdown-menu.treeview-select-tree(style="width:100%")#tree
                                .col-xs-12
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 主题：
                                        input.form-control#mail_title(type="text" name="mail_title")
                                .col-xs-12
                                    .form-group.cool-form-group.form-group-sm
                                        .cool-form-label.text-right.control-label 附件：
                                        input.form-control#input_appendix(type="file" multiple)
                    .col-xs-12
                        .ueditor-content
                            script(id="container" name="content" type="text/plain")
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_submit
                            |&nbsp;&nbsp;&nbsp;
                            i.fa.fa-send
                            |&nbsp;发送&nbsp;&nbsp;&nbsp;
                            
                        
        
        script(src=JS_DIR + 'jquery.min.js')
        script(src=JS_DIR + 'bootstrap.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
        script(src=JS_DIR + 'bootstrap-table/bootstrap-table-export.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
        script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
        script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
        script(src=JS_DIR + 'bootstrap-treeview.min.js')
        script(src=JS_DIR + 'ueditor-utf8-jsp/ueditor.config.js')
        script(src=JS_DIR + 'ueditor-utf8-jsp/ueditor.all.min.js')
        script(src=JS_DIR + 'toastr.min.js')
        script(src=JS_DIR + 'BSModal.js')
        script(src=JS_DIR + 'common.js')
        script(src=JS_DIR + 'app.js')
        script(src=JS_DIR + 'oa-personal-email-write.js')

    
        
