extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'summernote/summernote.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |创业领军企业查看
                    a.btn.btn-sm.btn-theme.pull-right(href="operate-orglead.html")
                        i.fa.fa-undo
                        |&nbsp;返回 
            .col-xs-12
                .org-li.static
                    .org-li-img
                        img(src=IMG_DIR + 'rcs-item-01.jpg')
                    .org-li-content
                        .org-li-title 小米科技
                        .org-li-info 企业行业：互联网
                        .org-li-info 企业领域：计算机、互联网、大数据
            .col-xs-12
                .section-title
                    .section-title-icon
                    .section-title-text 企业详细介绍
                .article-content
                    p 内容详情...


                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'summernote/summernote.min.js')
    script(src=JS_DIR + 'summernote/summernote-zh-CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
        



