extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |企业招聘发布
                    a.btn.btn-sm.btn-theme.pull-right(href="operate-recruit.html")
                        i.fa.fa-undo
                        |&nbsp;返回

            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |职位名称：
                            input.form-control#post(type="text" name="post")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |公司名称：
                            input.form-control#orgname(type="text" name="orgname")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |工作地点：
                            input.form-control#location(type="text" name="location")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |薪资：
                            .input-group
                                input.form-control#salary(type="text" name="salary")
                                .input-group-addon 元
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 企业性质：
                            select.form-control#company_spec
                                option 国有企业
                                option 私有股份制
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 公司人数：
                            select.form-control#company_num
                                option 50人以内
                                option 50人~100人
                                option 100人~200人
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 行业：
                            select.form-control#industry
                                option 互联网
                                option 大数据
                                option 餐饮
                                option 其他
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 工作年限：
                            select.form-control#work_time
                                option 毕业生
                                option 3年以内
                                option 3年到6年
                                option 6年以上
                    .col-xs-12
                        .cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 福利：
                            .cool-form-content.icheck-label#check_list
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 五险一金
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 医疗保险
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 公积金
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 专业培训
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 员工旅游
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 年终奖金
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 绩效奖金
                                label
                                    input.fuli_check(type='checkbox')
                                    .icheck-text 股票期权
                            .cool-form-content
                                .btn.btn-line.btn-sm#check_all 全选
                                .btn.btn-line.btn-sm#uncheck_all 全不选
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |联系方式：
                            input.form-control#contact(type="text" name="contact")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |电子邮箱：
                            input.form-control#email(type="text" name="email")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |地址：
                            input.form-control#address(type="text" name="address")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |职位描述：
                            textarea.form-control.textarea#intro(rows='5' name="intro")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |公司介绍：
                            textarea.form-control.textarea#intro2(rows='5' name="intro2")
                    
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_publish
                            i.fa.fa-upload
                            |&nbsp;发布
                        .btn.btn-large.btn-theme#btn_preview
                            i.fa.fa-eye
                            |&nbsp;预览


                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'iCheck/icheck.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'operate-recruit-new.js')
        




                    
            



