extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |党员信息查看
                    a.btn.btn-sm.btn-theme.pull-right(href="party-world.html")
                        i.fa.fa-undo
                        |&nbsp;返回
            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .oa-hr-photo-form
                        .oa-hr-photo
                            img(src=IMG_DIR + 'photo.jpg')
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 党员姓名：
                                .cool-form-content 立威廉
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 出生年月：
                                .cool-form-content 1975-03
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 入党时间：
                                .cool-form-content 1998-03-24
                        .col-xs-12.col-sm-6
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 单位：
                                .cool-form-content 电交所
                        .col-xs-12
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 备注：
                                .cool-form-content 备注内容...
                        .col-xs-12
                            .form-group.cool-form-group.form-group-sm
                                .cool-form-label.text-right.control-label 简介：
                                .cool-form-content 简介内容...



                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
        




                    
            




                    
            




            



