extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |党员编辑
                    a.btn.btn-sm.btn-theme.pull-right(href="party-world.html")
                        i.fa.fa-undo
                        |&nbsp;返回

            .col-xs-12.row-space-10
                form#form.row.no-bottom(name="form")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |党员姓名：
                            input.form-control#name(type="text" name="name" value="李向前")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |出生年月：
                            input.form-control#birth_date(type="text" name="birth_date" value="1975-03")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |入党时间：
                            input.form-control#in_date(type="text" name="in_date" value="1998-03-24")
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |单位：
                            input.form-control#org(type="text" name="org" value="电交所")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 备注：
                            input.form-control#ps(type="text" name="ps" value="备注内容...")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |照片：
                            input.form-control.input-file#input_appendix(type="file")
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 
                                span.font-red-intense *&nbsp;
                                |简介：
                            textarea.form-control.textarea#intro(rows='3' name="intro") 简介内容...
                    .col-xs-12
                        .btn.btn-large.btn-theme#btn_publish
                            i.fa.fa-upload
                            |&nbsp;发布
                        .btn.btn-large.btn-theme#btn_preview
                            i.fa.fa-eye
                            |&nbsp;预览


                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/bootstrapValidator.min.js')
    script(src=JS_DIR + 'bootstrapvalidator/zh_CN.js')
    script(src=JS_DIR + 'ueditor-utf8-jsp/ueditor.config.js')
    script(src=JS_DIR + 'ueditor-utf8-jsp/ueditor.all.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'party-world-edit.js')
        




                    
            



