extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrapValidator.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-treeview.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-select.min.css')
    link(rel='stylesheet', href=JS_DIR + 'iCheck/skins/square/_all.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title
                    |权限管理-角色
                    
    .container-fluid.row-space-10
        .row
            .col-xs-6(style="text-align:right;")
                .auth-tree
                    #tree
            .col-xs-6(style="text-align:left;")
                .auth-tree-right
                    .box-form.bg-gray-f5(style="border-bottom:none")
                        .row.no-bottom
                            .col-xs-12.col-sm-6
                                a.btn.btn-block.btn-theme#btn_add_role(href="sys-auth-character-new.html")
                                    i.fa.fa-plus
                                    |&nbsp;新建角色
                            .col-xs-12.col-sm-6#btn_edit_role_container
                                a.btn.btn-block.btn-theme#btn_edit_role(href="sys-auth-character-edit.html")
                                    i.fa.fa-edit
                                    |&nbsp;编辑角色
                    .box-form
                        .row.no-bottom
                            .col-xs-12#checked_text 
                                |点选角色（带
                                i.fa.fa-id-card
                                |图标的节点）可对其进行编辑
                    .box-form(style="margin-top:0.1rem;")
                        .row.no-bottom
                            .col-xs-12
                                div#selected_text 点选权限对象节点，查看详细行为配置
                            .col-xs-12#node_info
                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'bootstrap-treeview.min.js')
    script(src=JS_DIR + 'jquery.scrollFix.js')
    script(src=JS_DIR + 'bootstrap-select/bootstrap-select.min.js')
    script(src=JS_DIR + 'bootstrap-select/defaults-zh_CN.min.js')
    script(src=JS_DIR + 'iCheck/icheck.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(src=JS_DIR + 'sys-auth-character.js')

                    
            



