extends layout

block css
    link(rel='stylesheet', href=CSS_DIR + 'font-awesome.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'bootstrap-table.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href=JS_DIR + 'bootstrap-fileinput/css/theme.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'toastr.min.css')
    link(rel='stylesheet', href=CSS_DIR + 'index.css')

block content
    .container-fluid.row-space-common
        .row.mt-space
            .col-xs-12
                .page-title 
                    |装修存档预览
            .col-xs-12.row-space-10
                form.row.no-bottom
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 申请单位：
                            .cool-form-content 海尔
                    .col-xs-12
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 装修原因：
                            .cool-form-content 装修风格不喜欢
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 物业意见：
                            .cool-form-content 同意
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 应交保证金：
                            .cool-form-content 998元
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 实缴保证金：
                            .cool-form-content 998元
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 返还金额：
                            .cool-form-content 998元
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 装修损坏描述：
                            .cool-form-content 无损坏
                    .col-xs-12.col-sm-6
                        .form-group.cool-form-group.form-group-sm
                            .cool-form-label.text-right.control-label 赔偿金额：
                            .cool-form-content 0元
                    .col-xs-12
                        .box-form.has-title
                            .box-form-title 装修前现场图片
                            .row.no-bottom
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                    .col-xs-12
                        .box-form.has-title
                            .box-form-title 装修后现场图片
                            .row.no-bottom
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')
                                .col-xs-12.col-sm-6.col-md-4
                                    .abs-container.abs-hp-9of16
                                        .abs-content.full-abs-img
                                            img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507211664320&di=5329d0d078b0b90ba94f33caa3214a04&imgtype=0&src=http%3A%2F%2Fi4.3conline.com%2Fimages%2Fpiclib%2F201206%2F10%2Fbatch%2F1%2F137140%2F13393028698042w3xe6wxkg.jpg')

                                    
                    

                    
block js
    script(src=JS_DIR + 'jquery.min.js')
    script(src=JS_DIR + 'bootstrap.min.js')
    script(src=JS_DIR + 'moment/moment.min.js')
    script(src=JS_DIR + 'moment/zh-cn.js')
    script(src=JS_DIR + 'bootstrap-datetimepicker.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table.min.js')
    script(src=JS_DIR + 'bootstrap-table/bootstrap-table-zh-CN.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/fileinput.min.js')
    script(src=JS_DIR + 'bootstrap-fileinput/zh.js')
    script(src=JS_DIR + 'bootstrap-fileinput/theme.min.js')
    script(src=JS_DIR + 'toastr.min.js')
    script(src=JS_DIR + 'BSModal.js')
    script(src=JS_DIR + 'common.js')
    script(src=JS_DIR + 'app.js')
    script(type='text/javascript').
        $(document).ready(function(){
            
            //初始化fileinput插件
            window.commonTools.initBSFileInput($('#input_appendix'));
            
            $('#btn_submit').click(function(){
                
                //表单验证，通过后提交数据，成功后返回上级
                
                window.location.href='estate-decoration.html';
            });
            
        });



